<!DOCTYPE html>

<div class="container">
	<div class="row">

		<div class="page-header">
    		<div class="text-center">
				<h3><span class="p-3 mb-2 bg-info text-muted">管理者画面</span></h3>
			</div>
		</div>
	</div>

	<div class="row">
			<!-- <div class="col-md-6 .col-md-offset-4"> -->
		<div class="text-center">
        		<h2>本日の注文件数 <%= link_to @orders.count , today_admin_orders_path %> 件</h2>
    	</div>
	</div>

</div>