  <table class="table">
    <tbody>
      <tr></tr>
      <tr>
      <th>ジャンル検索</th>
      </tr>
      <tr>
      <% @genres.each do |genre| %>
        <tr>
          <% if genre.status == "有効" %>
        <td><%= link_to genre.name, admin_genre_path(genre.id) %></td>
          <% end %>
        </tr>
        <% end %>
        </tr>
    </tbody>
  </table>