// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.row{
  padding-top: 20px;
}

.h2 {
	margin-bottom: 20px;
}

.list {
  background: #fffde8;
  box-shadow: 0px 0px 0px 10px #fffde8;/*線の外側*/
  border: dashed 2px #ffb03f;/*破線*/
  border-radius: 9px;
  margin-left: 10px;/*はみ出ないように調整*/
  margin-right: 10px;/*はみ出ないように調整*/
  margin-bottom: 20px;
  padding: 10px;
  width: 200px;
  height: 250px;
  float: left;
  text-align: center;
}

.main-visual {
  width: 80%;
  height: 380px;
  background-image: url("/main_image.jpg");
}

.main-text {
  font-size:17px;
  padding: 135px;
  color: white;
  font-family: 'Hiragino Kaku Gothic Pro','ヒラギノ角ゴ Pro W3','メイリオ',Meiryo,'ＭＳ Ｐゴシック',sans-serif;
}
